body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  white-space: pre;
  font-family: monospace;
}

.container {
  width: 100%;
  display: flex;
}

.side {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.buttons {
  display: flex;
  flex-direction: row;
}

#toggle {
  width: fit-content;
  margin-top: 1em;
  font-size: 1.5em;
}

#reset {
  margin-left: 1em;
  width: fit-content;
  margin-top: 1em;
  font-size: 1.5em;
}

#speed {
  width: 100%;
  height: 1em;
  -webkit-appearance: none;
  background: #cccccc;
  /* flex-wrap: nowrap; */
}

#speed::-moz-range-thumb {
  width: 1em;
  height: 1em;
  cursor: pointer;
  background: #000000;
}
#speed::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  cursor: pointer;
  background: #000000;
}